In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')

In [12]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [15]:
print(df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {df['Mid-Career Median Salary'].idxmax()}")
df['Undergraduate Major'][8]

107000.0
Index for the max mid career salary: 8

'Chemical Engineering'